.appbar {
  background-color: #05125b !important;
  .toolbar {
    justify-content: space-between;
    .logo {
      max-height: 56px;
      filter: brightness(0) invert(1);
    }
    .client {
      cursor: pointer;
      border-left: 1px solid #ccc;
      padding-left: 10px;
      .MuiAvatar-root {
        width: 30px;
        height: 30px;
        font-size: 14px;
        margin-right: 7px;
        background-color: #b08989;
      }
      p:hover {
        text-decoration: underline;
      }
    }
    .account {
      border-left: 1px solid #ccc;
      padding-left: 10px;
      margin-left: 10px;
      svg {
        margin-right: 7px;
        font-size: 30px;
      }
    }
    span {
      font-size: 12px;
      margin-left: 1px;
      color: #b2b2b2;
    }
  }
}

@media (max-width: 670px) {
  .appbar .toolbar {
    .logo {
      max-height: 48px;
    }
    p {
      font-size: 12px;
    }
    span {
      font-size: 10px;
    }
  }
}

@media (max-width: 490px) {
  .client {
    display: none;
  }
}